# tabs
keybind = cmd+n=next_tab
keybind = cmd+p=previous_tab
keybind = cmd+right_bracket=move_tab:+1
keybind = cmd+left_bracket=move_tab:-1

keybind = cmd+shift+f=toggle_split_zoom

keybind = cmd+h=goto_split:left
keybind = cmd+j=goto_split:bottom
keybind = cmd+k=goto_split:top
keybind = cmd+l=goto_split:right

# scrollback
keybind = cmd+shift+z=write_screen_file:open

keybind = cmd+shift+k=jump_to_prompt:-1
keybind = cmd+shift+j=jump_to_prompt:1
