# initial-command = "/opt/homebrew/bin/tmux attach"


### MODES

# copy mode
keybind = cmd+x=text:\x02\x5b
# command mode
keybind = cmd+;=text:\x02\x3a


### SESSIONS

# list sessions
keybind = cmd+o=text:\x02\x73
# detach session
keybind = cmd+shift+d=text:\x02\x64
# rename session
keybind = cmd+ctrl+r=text:\x02\x24


### WINDOWS

# rename window
keybind = cmd+ctrl+t=text:\x02\x2c
# list windows
# keybind = cmd+o=text:\x02\x66
# new window
keybind = cmd+t=text:\x02\x63
# next
keybind = cmd+n=text:\x02\x6e
keybind = ctrl+n=text:\x02\x6e
#prev
keybind = cmd+p=text:\x02\x70
keybind = ctrl+p=text:\x02\x70
# move window
keybind = cmd+bracket_left=text:\x02\x6f
keybind = cmd+bracket_right=text:\x02\x69
# select
keybind = cmd+digit_1=text:\x02\x31
keybind = cmd+digit_2=text:\x02\x32
keybind = cmd+digit_3=text:\x02\x33
keybind = cmd+digit_4=text:\x02\x34
keybind = cmd+digit_5=text:\x02\x35
keybind = cmd+digit_6=text:\x02\x36
keybind = cmd+digit_7=text:\x02\x37
keybind = cmd+digit_8=text:\x02\x38
keybind = cmd+digit_9=text:\x02\x39


### PANES

# kill pane
keybind = cmd+w=text:\x02\x78
# vertical pane
keybind = cmd+shift+v=text:\x02\x25
keybind = cmd+ctrl+v=text:\x02\x25
# horizontal pane
keybind = cmd+ctrl+s=text:\x02\x22
# bot pane
keybind = cmd+shift+b=text:\x02\x76
keybind = ctrl+enter=text:\x02\x76
# zoom pane
keybind = cmd+`=text:\x02\x7a
keybind = cmd+ctrl+f=text:\x02\x7a
keybind = cmd+f=text:\x02\x7a
# select left
keybind = cmd+h=text:\x02\x68
# select down
keybind = cmd+j=text:\x02\x6a
# select up
keybind = cmd+k=text:\x02\x6b
# select right
keybind = cmd+l=text:\x02\x6c


### RESIZE

keybind = ctrl+cmd+h=text:\x1b\x5b\x31\x3b\x35\x44
keybind = ctrl+cmd+j=text:\x1b\x5b\x31\x3b\x35\x42
keybind = ctrl+cmd+k=text:\x1b\x5b\x31\x3b\x35\x41
keybind = ctrl+cmd+l=text:\x1b\x5b\x31\x3b\x35\x43


### LAYOUT

# swap
keybind = cmd+shift+o=text:\x02\x7d
keybind = cmd+shift+i=text:\x02\x7b

# even-horizontal layout
keybind = cmd+shift+h=text:\x1b\x5b\x31\x3b\x36\x44
# even-vertical layout
keybind = cmd+shift+j=text:\x1b\x5b\x31\x3b\x36\x43
